* {
  box-sizing: border-box;
}

.calculator {
  border: 5px solid black;
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display {
  width: 400px;
  height: 100px;
  border: 5px solid black;
} 

.keypad {
  height: 400px;
  width: 400px;
  border: 5px solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.keys {
  width: 22%;
  height: 22%;
}