* {
  box-sizing: border-box;
}

body {
  background-image: url('../images/cogs.jpg');
  background-size: auto 200%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
}

.calculator {
  background-color: white;
  border: 5px solid rgba(0,0,0, 0.5);
  border-radius: 2%;
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
}

.display {
  width: 400px;
  height: 100px;
  border: 5px solid black;
  margin-bottom: 16px;
}

.input,
.inputHistory {
  border: 1px solid gray;
  height: 50%;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.keypad {
  height: 400px;
  width: 400px;
  border: 5px solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.keys,
.equals,
.reset {
  width: 22%;
  height: 22%;
}